<h2>Search Books</h2>
<form action="/books" method="GET"><!--get books route-->
    <!--inside routes-> books.js says get for getting all the books, eant to search for text and title-->
    <div>
    <label>Title</label>
    <input type="text" name="title" value="<%=searchOptions.title%>">

    </div>

    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%=searchOptions.publishedAfter%>"><!--want our value to come from publishedAfter variable, from our db publishedDate but since we don't hit db we can use publishedDate and itll work just fine-->
    
    </div>

    <div>
        <label>Published Before</label>
        <input type="date" name="publishedBefore" value="<%=searchOptions.publishedBefore%>">
        <!--want our value to come from publishedBefore variable, from our db publishedDate but since we don't hit db we can use publishedDate and itll work just fine-->
    
    </div>



    <button type="submit">Search</button>
</form>

<div>

<%books.forEach(book=> {%>
    
       <img height="150" width="100" src="<%=book.coverImagePath%>">
    </div>

    <% }) %>
</div>